@mixin alertBannerOuterSuccess {
	background-color: oColorsMix('paper', 'jade', 80);
}

@mixin alertBannerInnerSuccess {
	color: oColorsMix('black', 'jade', 43);
}

@mixin alertBannerContentSuccess {
	&::before {
		@include oIconsGetIcon('tick', oColorsMix('black', 'jade', 43), 20);
		align-items: center;
		padding: 10px;
		white-space: nowrap;
	}
}

@mixin alertBannerButtonSuccess {
	border: 1px solid oColorsMix('black', 'jade', 43);
	color: oColorsMix('black', 'jade', 43);
}

@mixin alertBannerLinkSuccess {
	color: oColorsMix('black', 'jade', 43);
}

@mixin alertBannerCloseButtonSuccess {
	@include oIconsGetIcon('cross', oColorsMix('black', 'jade', 43), $_alert-banner-close-button-size);
}
