@mixin alertBannerContentSuccess($successTextColor) {
	&::before {
		@include oIconsContent(
			$icon-name: 'tick',
			$color: $successTextColor,
			$size: 20
		);
		align-items: center;
		padding: 10px;
		white-space: nowrap;
	}
}
