@mixin alertBannerContentNeutral {
	&::before {
		@include oIconsContent(
			$icon-name: 'warning',
			$color: oColorsByUsecase('n-alert-banner/warning-icon', 'text'),
			$size: 20
		);
		padding: 1px;
		background-color: oColorsByUsecase('n-alert-banner/warning-icon', 'background');
		border-radius: 50%;
		margin: 10px;
	}
}

@mixin alertBannerButtonNeutral {
	@include oButtonsContent($opts: (
		'type': 'secondary',
		'theme': (
			'color': oColorsByUsecase('n-alert-banner/button', 'text'),
			'context': oColorsByUsecase('n-alert-banner/button', 'background')
		)
	), $include-base-styles: false);
}

@mixin alertBannerLinkNeutral {
	@include oTypographyLink($theme: (
		'base': oColorsByUsecase('n-alert-banner/link', 'text'),
		'hover': oColorsByUsecase('n-alert-banner/link', 'text'),
		'context': oColorsByUsecase('n-alert-banner/link', 'background')
	));
}
