@mixin alertBannerBase {
	left: 0;
	display: block;
	width: 100%;
}

@mixin alertBannerClosed {
	display: none;
}

@mixin alertBannerOuter {
	height: 48px;
	width: 100%;
}

@mixin alertBannerInner {
	@include oTypographySans($scale: 0);

	height: 50px;
	white-space: nowrap;
	// sass-lint:disable no-vendor-prefixes
	-webkit-font-smoothing: antialiased;
	// sass-lint:enable no-vendor-prefixes
	position: relative;
	display: flex;
	align-items: center;
	box-sizing: border-box;
}

@mixin alertBannerContent {
	padding: 0 24px 0 $_n-alert-banner-spacing;
	p {
		margin-top: 0;
		margin-bottom: 0;
	}
	b,
	strong {
		@include oTypographySans($weight: 'semibold');
	}
}

@mixin alertBannerContentLong {
	margin: 8px;
	@include oGridRespondTo($until: M) {
		display: none;
	}
	&::before,
	&::after {
		content: '';
		left: 4px;
		top: 4px;
		position: absolute;
		align-items: center;
	}
}

@mixin alertBannerContentShort {
	@include oGridRespondTo($until: M) {
		@include oTypographySans($scale: -1);
	}
	@include oGridRespondTo($from: M) {
		display: none;
	}
	&::before,
	&::after {
		content: '';
		left: 4px;
		top: 4px;
		position: absolute;
		align-items: center;
	}
	margin: 8px;
}

@mixin alertBannerActions {
	display: flex;
	align-items: center;
}

@mixin alertBannerAction {
	padding-right: $_n-alert-banner-spacing;
}

@mixin alertBannerActionSecondary {
	text-align: right;

	@include oGridRespondTo($until: S) {
		display: none;
	}
}

@mixin alertBannerButton {
	@include oGridRespondTo($until: M) {
		@include oTypographySans($scale: -1);
	}
	@include oButtonsContent($opts: (
		'type': 'secondary'
	));
	white-space: nowrap;
	height: 28px;
}

@mixin alertBannerLink {
	@include oGridRespondTo($until: M) {
		@include oTypographySans($scale: -1);
	}
	@include oTypographySans($scale: 0);
	white-space: nowrap;
	height: 28px;
}

@mixin alertBannerCloseButton {
	$close-button-position: round(($_n-alert-banner-spacing - $_n-alert-banner-close-button-size));
	display: block;
	position: absolute;
	right: $close-button-position;
	top: $close-button-position;

	// Note: this is to combat the default link styles often
	// provided by o-typography
	border: 0;
}
