<div class="n-alert-banner" data-n-component="n-alert-banner">
	<div class="n-alert-banner__outer n-alert-banner__outer--neutral">
		<div class="n-alert-banner__inner n-alert-banner__inner--neutral" data-n-alert-banner-inner="">
			<div class="n-alert-banner__content n-alert-banner__content--long n-alert-banner__content--neutral">
				<p><b>Good to know!</b> Keeping you informed a neutral thing happened.</p>
			</div>
			<div class="n-alert-banner__content n-alert-banner__content--short n-alert-banner__content__icon--neutral">
				<p>Keeping you informed a neutral thing happened.</p>
			</div>
			<div class="n-alert-banner__actions">
				<div class="n-alert-banner__action">
					<a href="#" class="n-alert-banner__button n-alert-banner__button--neutral">Button</a>
				</div>
				<div class="n-alert-banner__action--secondary">
					<a href="#" class="n-alert-banner__link n-alert-banner__link--neutral">Text link</a>
				</div>
			</div>
		</div>
	</div>
</div>
