<div id="site-navigation" class="header">Dummy header to attatch items</div>

<div id="client-initialised-demo" class="buttons">
	<button data-type="error" class="o-buttons o-buttons--secondary">Error</button>
	<button data-type="neutral" class="o-buttons o-buttons--secondary">Netural</button>
	<button data-type="success" class="o-buttons o-buttons--secondary">Success</button>
	<button data-type="marketing" class="o-buttons o-buttons--secondary">Marketing</button>
</div>
