<div id="site-navigation" class="header">Dummy header to attatch items</div>

<div id="client-initialised-demo" class="buttons">
	<button data-type="error">Error</button>
	<button data-type="neutral">Netural</button>
	<button data-type="success">Success</button>
	<button data-type="marketing">Marketing</button>
</div>
