<div id="site-navigation">FT HEADER</div>

<div class="button">
	<button class="demo-alert-banner" id="alert-banner-error-button">Error</button>
	<button class="demo-alert-banner" id="alert-banner-neutral-button">Netural</button>
	<button class="demo-alert-bannner" id="alert-banner-success-button">Success</button>
</div>
