<div id="site-navigation">FT HEADER</div>

<div class="n-alert-banner n-alert-banner--error" data-n-component="n-alert-banner" data-n-alert-banner-selected-append-element="#site-navigation">
	<div class="n-alert-banner__outer">
		<div class="n-alert-banner__inner" data-n-alert-banner-inner="" data-n-alert-banner-close-button="false">
			<div class="n-alert-banner__content n-alert-banner__content--long">
				<p><b>Something went wrong!</b> Please check and try again.</p>
			</div>
			<div class="n-alert-banner__content n-alert-banner__content--short">
				<p>Please check and try again.</p>
			</div>
			<div class="n-alert-banner__actions">
				<div class="n-alert-banner__action">
					<a href="#" class="n-alert-banner__button">Button</a>
				</div>
				<div class="n-alert-banner__action--secondary">
					<a href="#" class="n-alert-banner__link">Text link</a>
				</div>
			</div>
		</div>
	</div>
</div>
