<div class="n-alert-banner n-alert-banner--success" data-n-component="n-alert-banner">
	<div class="n-alert-banner__outer">
		<div class="n-alert-banner__inner" data-n-alert-banner-inner="">
			<div class="n-alert-banner__content n-alert-banner__content--long">
				<p><b>Well done!</b> You successfully completed this task.</p>
			</div>
			<div class="n-alert-banner__content n-alert-banner__content--short">
				<p>You successfully completed this task.</p>
			</div>
			<div class="n-alert-banner__actions">
				<div class="n-alert-banner__action">
					<a href="#" class="n-alert-banner__button">Button</a>
				</div>
				<div class="n-alert-banner__action--secondary">
					<a href="#" class="n-alert-banner__link">Text link</a>
				</div>
			</div>
		</div>
	</div>
</div>
