$n-alert-banner-is-silent: false;
@import '../../main';

body {
	font-family: MetricWeb;
	min-height: 350px;
	background-color: oColorsGetPaletteColor('paper');
}

.header {
	margin-bottom: 50px;
	height: 20px;
	background-color: #dddddd;
}

.buttons {
	padding: 20px 0 0 20px;
}
.buttons > button {
	@include oButtons();
}

.n-alert-banner--static {
	position: static !important; // sass-lint:disable-line no-important
}
