
<div class="n-alert-banner n-alert-banner--static">
	<div class="n-alert-banner__outer n-alert-banner__outer--error">
		<div class="n-alert-banner__inner n-alert-banner__inner--error">
			<div class="n-alert-banner__content n-alert-banner__content--long n-alert-banner__content--error">
				<p><b>Something went wrong!</b> Please check and try again.</p>
			</div>
			<div class="n-alert-banner__actions">
				<div class="n-alert-banner__action">
					<a href="#" class="n-alert-banner__button n-alert-banner__button--error">Button</a>
				</div>
				<div class="n-alert-banner__action--secondary">
					<a href="#" class="n-alert-banner__link n-alert-banner__link--error">Text link</a>
				</div>
			</div>
		</div>
	</div>
</div>
