<div class="n-alert-banner" data-n-component="n-alert-banner">
	<div class="n-alert-banner__outer n-alert-banner__outer--error">
		<div class="n-alert-banner__inner n-alert-banner__inner--error" data-n-alert-banner-inner="">
			<div class="n-alert-banner__content n-alert-banner__content--long n-alert-banner__content--error">
				<p><b>Payment banner!</b> Please update your card details to continue your FT subscription.</p>
			</div>
			<div class="n-alert-banner__content n-alert-banner__content--short n-alert-banner__content__icon--error">
				<p>Please update your card details.</p>
			</div>
			<div class="n-alert-banner__actions">
				<div class="n-alert-banner__action--secondary">
					<a href="https://myaccount-test.ft.com/payment/view" class="n-alert-banner__link n-alert-banner__link--error">My Account</a>
				</div>
			</div>
		</div>
	</div>
</div>
