@mixin alertBannerContentError($errorBackgroundColor, $errorTextColor) {
	&::before {
		@include oIconsGetIcon('warning', $errorBackgroundColor, 20);
		padding: 1px;
		background-color: $errorTextColor;
		border-radius: 50%;
		margin: 10px;
	}
}
